@{
    ViewData["Title"] = "Home Page";
}

<form name="login" class="text-center" method="get" action="/Home/index" onsubmit="console.log(event.currentTarget.Value)">
    <h1> Welcome To Replay Fx </h1>
    <div class="col-form-label"> Upload a file:    </div>
    <input type="file" id="fileInput" class="custom-file-input border-dark" />
    <button type="submit">
        Submit
    </button>
</form>
